FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_APP_ID=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_MEASUREMENT_ID=
FIREBASE_FUNCTIONS_REGION=europe-west1
FIREBASE_USE_EMULATORS=false

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_NAME=Mia Starset- Clear and Friendly
ELEVENLABS_VOICE_ID=
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_LANGUAGE_CODE=
ELEVENLABS_OUTPUT_FORMAT=mp3_44100_128

STORJ_ENDPOINT=https://gateway.storjshare.io
STORJ_REGION=us-east-1
STORJ_ACCESS_KEY_ID=
STORJ_SECRET_ACCESS_KEY=
STORJ_BUCKET=
AUDIO_BASE_URL=
AUDIO_PREFIX=audio/v1
PROFILE_IMAGE_BASE_URL=
PROFILE_IMAGE_PREFIX=profiles/v1
